<mat-card *ngFor="let module of modules">
  <mat-card-header>
    <mat-card-title>{{module.title}}</mat-card-title>
    <mat-card-subtitle>{{module.subTitle}}</mat-card-subtitle>
  </mat-card-header>
  <div [align]="'center'">
    <mat-icon style="font-size:5em;width:auto;height:auto;">{{module.icon}}</mat-icon>
  </div>
  <mat-card-content>
    <p>{{module.description}}</p>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-button [routerLink]="module.link">
      <span>MORE</span> &nbsp;
      <mat-icon>arrow_forward</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
